a classer/achat livre.py
a classer/acronyme.py
a classer/alphabet.py
a classer/analysedefrequence.py
a classer/AugmentationTaxe.py
a classer/Banquet_municipal.py
a classer/bataille.py
a classer/batimentet alle.py
a classer/bellerecolte.py
a classer/casernedepompier.py
a classer/chiffrement par decalage.py
a classer/Choix des emplacements.py
a classer/code secret deux fois.py
a classer/comptes annuels.py
a classer/constructiondunepyramide copy.py
a classer/constructiondunepyramide2.py
a classer/convertir lieue.py
a classer/convertisseur unité.py
a classer/courseaveclesenfants.py
a classer/dechiffrement premiere page.py
a classer/frequence d apparition.py
a classer/Fréquentation de la bibliotheque.py
a classer/installationducamping.py
a classer/Inversion de dictionnaire.py
a classer/lettre la plus frequente.py
a classer/Lire ou ne pas lire.py
a classer/mélange explosif.py
a classer/nombre d amour.py
a classer/robot.py
a classer/Rouedelafortune.py
a classer/soclepourstatues.py
a classer/titre palindromique.py
a classer/touslescodes.py
a classer/triinverse.py
a classer/Trouver le décalage.py
a classer/Unelignesurdeux.py
a classer/validité variable.py
a classer/visite de la mine.py
a classer/zonesdecouleur.py
